#splash {
  width: 100vw;
  height: 180px;
  background:
    linear-gradient(0, rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.527)),
    url(../../public/Headliner.png);
  background-size: 110%;
  background-position: 50% 80%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

